<head>
    <title>first server </title>
</head>
<body>
    <h1>find great books</h1>
    <form action="/results" method="POST">
        <p>type in a book keyword here: <input type = "text" name = "search"/></p>
        <button type = "submit"> search</button>
    </form>
</body>